.container {
   
}

.category {
  
  border: 1px solid #d4d4d4;
 margin-bottom: 10px;
  padding: 17px 10px 5px 16px;

  border-radius: 3px;
}
.category p {
  cursor: pointer;
}

.category p::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: black;
  margin: auto;
  display: block;
}
.category p:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}

@media screen and (max-width: 968px) {
  .category {
    display: flex;
  }
}
